<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/navbar1.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/payment.css">
    
  </head>
  <body>
    <div id="maincon">

        <div id="navbar">
            <div class="men">
            <div id = "nykaa">NYKAA</div>
            <div>MAN</div>
            </div>
            <div class="vl"></div>
           
           
           
            <div id="options">
            <div><h3 id="log"><a href="/">1-LOGIN</a><p id="email"></p></h3></div>
            
            <div class="vl"></div>
            <div ><h3 id="add"><a href="add2.html">2-ADDRESS</a><p id="name"></h3></div>
            <p></p>
            <div class="vl"></div>
            <div ><h3 id="pay"><p id="sirname"></p><a href="Payment.html">3-PAYMENT</a> </h3></div>
            <div class="vl"></div>
          
          </div>
       
        </div>





    </div>
    
    
     <form action="">
      
      <div class="main">
        <div id="htag"><h4>CHOOSE PAYMENT METHOD</h4></div>
      <div id="main1">
        <div id="secdiv">
          <p>Credit/Debit Card</p>
          <hr />
          <p>UPI</p>
          <hr />
          <p>GooglePay</p>
          <hr />
          <p>Net Banking</p>
          <hr />
          <p>Cash on Delivery</p>
          <hr />
          <p>Gift Card</p>
        </div>
        <div class="thirddiv">
          <div id="error"></div>
          <p>Credit/Debit Card</p>
          <hr id="hori" />
          <input required type="text" id="box" placeholder="Card Number" />
          
          <div class="input">
              <div class="inputDiv">
                  <input required type="number" placeholder="MM" />
                  <input required type="number" placeholder="/ YY" />
                  <input required type="number" placeholder="CVV" />
              </div>
              <div>
                  <div>
                      <img
                        class="fit-picture"
                        src="https://www.nykaaman.com/assets/desktop/images/checkout/bank-card-back-side.png"
                        alt=""
                      />
                  </div>
                  <div class="p-section">
                      <p>Last 3 Digits at the</p>
                      <p>back of the Card</p>
                  </div>
              </div>
  
     </form>
            
        </div>

        <!-- <p><input required type="number" id="box" placeholder="MM"><span > <input required type="number" id="box" placeholder="/ YY"></span> <span><input required type="number" id="box" placeholder="CVV"></span></p> -->
        <!-- <a href="https://www.nykaaman.com/assets/desktop/images/checkout/bank-card-back-side.png"></a> -->
        <input type="checkbox" id="check" name="check" value="Bike" />
        <label for="check">Save this card for Future</label><br />
        <button id="btn">PAY NOW ></button>
      </div>


      <!-- Total div -->
    
</head>
<body>
    <div id="fourth_div">
        <div id="div_1" ><p></p><p>Edit</p></div>
        <!-- <br> -->
        <div class="div_2"></div>
        <!-- <div class="div_2"></div> -->
        <div id="div_3">

            <!-- <p>Sub Total</p>
            <p>Shipping Charge</p>
            <p>Discount</p>
            <hr>
            <p>Grand Total</p>
            <hr> -->
           <div class="flexo">
             <p>Sub Total</p>
             <p id="title"></p>
            </div>
           <div class="flexo"><p>Shipping 
          <div><p>Discount</p><p id="discount"></p></div><hr>
           <div><p>Grand Total</p><p id="total"></p></div>
           <hr>
           
        </div>

    </div>

    </div>
    </div>
 
    <!-- footer -->
   <div id="footer_div">
    <div id="footer_container1Dk">

      <div class="footer_contCdiv">
          <i class="fas fa-envelope fa-2x msgIconDk"></i>
          <p id="msgIconPara">GET SPECIAL DISCOUNT ON YOUR INBOX</p>
          <input id="inputFooterDk" type="text" placeholder="Your Email"/>
          <button id="btnFooterDk">Send</button>
  
      </div>
  
      <div class="footer_contCdiv">
          <i class="fas fa-phone-alt fa-2x msgIconDk"></i>
          <p id="phnIconPara">FOR ANY HELP YOU MAY CALL US AT<br>1800-267-4444</p>
          <br>
          <p id="contactTimingDk">(Monday to Saturday, 8AM to 10PM and Sunday, 10AM to 7PM)</p>
  
  
      </div>
  
  </div>
  
  
  
  <div id="footer_container2Dk">
  
  
      <div class="footer_cDivuLDk">
          <ul style="color: white; list-style: none; margin-left: 10%;">
              <li><h2 style="margin-top: 15%;">NYKAA<br>MAN</h2></li>
              <li class="listParaDk list_para_hover">WHO ARE WE?</li> 
              <li class="listParaDk list_para_hover">CAREERS</li>
              <li class="listParaDk list_para_hover">AUTHENTICITY</li>
              <li class="listParaDk list_para_hover">PRESS</li>
              <li class="listParaDk list_para_hover">TESTIMONIALS</li>
          </ul>
      </div>
  
      <div class="footer_cDivuLDk">
          <ul style="color: white; list-style: none; margin-top: 15%;">
              <li class="listParaDk list_para_hover"  style="font-size: 16px;">HELP</li>
              <li class="listParaDk list_para_hover">CONTACT US</li> 
              <li class="listParaDk list_para_hover">FREQUENTLY ASKED QUESTIONS</li>
              <li class="listParaDk list_para_hover">STORE LOCATOR</li>
              <li class="listParaDk list_para_hover">CANCELLATION & RETURN</li>
              <li class="listParaDk list_para_hover">SHIPPING & DELIVERY POLICY</li>
          </ul>
          
      </div>
      <div class="footer_cDivuLDk">
          <ul style="color: white; list-style: none; margin-top: 15%;">
              <li class="listParaDk list_para_hover"  style="font-size: 16px;">QUICK LINKS</li>
              <li class="listParaDk list_para_hover">BRAND STORE</li> 
              <li class="listParaDk list_para_hover">OFFER ZONE</li>
              <li class="listParaDk list_para_hover">SITE MAP</li>
          </ul>
  
      </div>
      <div class="footer_cDivuLDk">
  
          <ul style="color: white; list-style: none; margin-top: 15%;">
              <li class="listParaDk list_para_hover" style="font-size: 16px;">TOP CATEGORIES</li>
              <li class="listParaDk list_para_hover">SHAVING</li> 
              <li class="listParaDk list_para_hover">HAIR CARE</li>
              <li class="listParaDk list_para_hover">PERSONAL CARE</li>
              <li class="listParaDk list_para_hover">PERFUMES & DEOS</li>
              <li class="listParaDk list_para_hover">WELLNESS</li>
          </ul>
      </div>
      <div class="footer_cDivuLDk">
          <ul style="color: white; list-style: none; margin-top: 15%;">
              <li  style="font-size: 16px;"> LUXE </li>
              <li class="listParaDk list_para_hover">BATH AND BODY</li> 
              <li class="listParaDk list_para_hover">HAIR</li>
              <li class="listParaDk list_para_hover">FRAGRANCE</li>
              <li class="listParaDk list_para_hover">SKIN</li>
          </ul>
      </div>
  
  </div>
  
  
  <div id="footer_container3Dk">
  
      <div id="footer_containerCdiv">
  
          <div style="margin-top: 5%;">
          <img style="display: inline-block;" src="https://adn-static1.nykaa.com/media/listing/nykaaman/nykaaman_shipping.svg" alt="img">
          <p class="freeShippingparaDk">FREE SHIPPING</p>
          <hr style="margin-left: 20%; color: lightgray; margin-top: -1px; width: 85%;">
          <p class="footerLAst2ndPara">for orders above<br>INR499</p>
          </div>
  
  
          <div style="margin-top: 5%;">
  
              <img style="display: inline-block;" src="https://adn-static1.nykaa.com/media/listing/nykaaman/nykaaman_genuine.svg" alt="img">
              <p style="margin-left: 5%;" class="freeShippingparaDk">AUTHENTIC<br>PRODUCTS</p>
              <hr style="margin-left: 25%; color: lightgray; margin-top: -1px; width: 85%;">
              <p class="footerLAst2ndPara">Sourced Directly from<br> Brands/ Authorised Distributors</p>
  
          </div>
  
  
          <div style="margin-top: 5%;">
  
             <p class="freeShippingparaDk socialMediaPara">SHOW US SOME LOVE ON SOCIAL MEDIA</p>
             <i class="fab instaFbIcon fa-instagram-square fa-2x"></i>
             <i style="margin-left: 5%;" class="fab instaFbIcon fa-facebook-square fa-2x"></i>
  
          </div>
  
      </div>
  </div>
  
  
  <div id="footer_container4Dk">
  
      <div id="footer_containerCd4Dk">
          <p class="footerMostParaDk">TERMS & CONDITIONS</p>
          <p class="footerMostParaDk">SHIPPING POLICY</p>
          <p class="footerMostParaDk">CANCELLATION POLICY</p>
          <p class="footerMostParaDk">PRIVACY POLICY</p>
  
          <p id="footerMostPara2Dk">© 2021 Nykaa E-Retail Pvt. Ltd. All Rights Reserved.</p>
      </div>
  </div>
   </div> 
  </body>
</html>
<script >
    


    let email=document.getElementById("email")
   

   email.textContent=localStorage.getItem("email");
   email.style.color="rgb(82,83, 94)";
   email.style.fontSize="14px"
   
  //  document.getElementById("name").display="flex"
    let add=document.getElementById("name")
    add.textContent=localStorage.getItem("address")
   add.style.color="rgb(82,83, 94)";
   add.style.fontSize="14px";

   
    // import footer from "./footer/footer.js";

    // let footer_div = document.getElementById("footer_div")

    // footer_div.innerHTML = footer()

    var userArr = JSON.parse(localStorage.getItem("userData")) || [];
    document.getElementById("btn").addEventListener("click", function(e) {
    e.preventDefault();
    
    
    const  cardNum = document.getElementById("box").value;
   

    
    
     function check(){
    

    if (cardNum.length != 12) {
        document.getElementById("box").style.border = "1px solid red";
        document.getElementById("error").innerText = "Field is Required*";
        document.getElementById("error").style.color = "red";
        return false;
    } else {
        document.getElementById("box").style.border = "none";
    }
    return true;

    }

      if (check()) {
        var userC = {
            
            Name: Name,
            pnumber: pnumber,
            postalcode: postalcode,
            add: add,
           
        };
        userArr.push(userC);
        localStorage.setItem("userData", JSON.stringify(userArr));
        var inputs = document.querySelectorAll("input");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].value = "";
        }
        localStorage.setItem("Payment",Payment)
        
        
    }
});

    

</script>