<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src='https://kit.fontawesome.com/8d9bddce50.js' crossorigin='anonymous'></script>
    <style></style>
</head>
<body>
    <div>
        <img src="https://i.stack.imgur.com/YbIni.png" width="100%" height="100%"/>
        <a href="/"></a><button>Click here to continue Shopping</button></a>
    </div>
    
</body>
</html>
<script>
</script>